In [3]:
import numpy as np
import pandas as pd
import json
import gc
import re
import os

# -------------------------------------------------------------------
# Kaggle-specific file paths
# This code works in both Kaggle and local environments
# -------------------------------------------------------------------
DATA_PATH = "/kaggle/input/intelligent-bank/"

# Check if running in Kaggle environment
if not os.path.exists(DATA_PATH):
    # Try common local paths
    local_paths = [
        "./data",
        "../data",
        "data",
        "./intelligent-bank",
        "../intelligent-bank"
    ]
    
    DATA_PATH = None
    for path in local_paths:
        if os.path.exists(path):
            DATA_PATH = path
            break
    
    if DATA_PATH is None:
        print("Warning: Data files not found in expected locations.")
        print("Please ensure the data files are in a 'data' or 'intelligent-bank' folder")
        print("or update DATA_PATH to point to your dataset location.")
    else:
        print(f"Using local data path: {DATA_PATH}")
else:
    print("Using Kaggle data path")

# Load CSV files if data path exists
if DATA_PATH:
    try:
        transaction_df = pd.read_csv(os.path.join(DATA_PATH, "transactions_data_south_africa.csv"))
        card_df = pd.read_csv(os.path.join(DATA_PATH, "cards_data_south_africa.csv"))
        users_df = pd.read_csv(os.path.join(DATA_PATH, "user_data_south_africa.csv"))

        # Load MCC JSON file
        mcc_series = pd.read_json(os.path.join(DATA_PATH, "mcc_codes.json"), typ='series')
        mcc_df = mcc_series.reset_index()
        mcc_df.columns = ['mcc_code', 'description']

        # Load labels JSON
        file_path = os.path.join(DATA_PATH, 'train_fraud_labels.json')

        with open(file_path, 'r') as f:
            raw_json_data = json.load(f)

        transaction_labels_dict = raw_json_data['target']

        train_fraud_labels = pd.Series(transaction_labels_dict).reset_index()
        train_fraud_labels.columns = ['transaction_id', 'is_fraud']
        train_fraud_labels['transaction_id'] = pd.to_numeric(train_fraud_labels['transaction_id'])

        print("\nAll data files loaded successfully!")
    except FileNotFoundError as e:
        print(f"Error loading data files: {e}")
        print("Please check that all required files are in the data directory.")
else:
    print("Skipping data loading - please configure DATA_PATH first.")

Warning: Data files not found in expected locations.
Please ensure the data files are in a 'data' or 'intelligent-bank' folder
or update DATA_PATH to point to your dataset location.
Skipping data loading - please configure DATA_PATH first.

In [4]:

import numpy as np
import pandas as pd
import json
import gc
import re
import os

# -------------------------------------------------------------------
# Local file path (update this to your actual folder)
# -------------------------------------------------------------------
DATA_PATH = r"C:\Users\Geeks2_PC12\OneDrive - Geeks4learning\Documents\FNB Project\Intelligent Bank"

# Check if path exists
if os.path.exists(DATA_PATH):
    print(f"Using local data path: {DATA_PATH}")
else:
    print("Error: Path does not exist. Please check your folder location.")

# Load CSV files
transaction_df = pd.read_csv(os.path.join(DATA_PATH, "transactions_data_south_africa.csv"))
card_df = pd.read_csv(os.path.join(DATA_PATH, "cards_data_south_africa.csv"))
users_df = pd.read_csv(os.path.join(DATA_PATH, "user_data_south_africa.csv"))

# Load MCC JSON file
mcc_series = pd.read_json(os.path.join(DATA_PATH, "mcc_codes.json"), typ='series')
mcc_df = mcc_series.reset_index()
mcc_df.columns = ['mcc_code', 'description']

# Load labels JSON
file_path = os.path.join(DATA_PATH, 'train_fraud_labels.json')
with open(file_path, 'r') as f:
    raw_json_data = json.load(f)

transaction_labels_dict = raw_json_data['target']
train_fraud_labels = pd.Series(transaction_labels_dict).reset_index()
train_fraud_labels.columns = ['transaction_id', 'is_fraud']
train_fraud_labels['transaction_id'] = pd.to_numeric(train_fraud_labels['transaction_id'])

print("\nAll data files loaded successfully!")

Using local data path: C:\Users\Geeks2_PC12\OneDrive - Geeks4learning\Documents\FNB Project\Intelligent Bank

All data files loaded successfully!

All data files loaded successfully!

In [5]:
transaction_df.head()

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,7475327,2022-02-19 05:51:55,1556,2972,-1386.00,Swipe Transaction,59935,Kimberley,Northern Cape,8300.0,5499.0,NaN
1,7475328,2023-01-13 02:58:58,561,4575,262.26,Swipe Transaction,67570,Pietermaritzburg,KwaZulu-Natal,3200.0,5311.0,NaN
2,7475329,2024-07-03 23:41:24,1129,102,1440.00,Swipe Transaction,27092,Port Elizabeth,Eastern Cape,6000.0,4829.0,NaN
3,7475331,2022-06-12 09:33:41,430,2860,3600.00,Swipe Transaction,27092,Bloemfontein,Free State,9300.0,4829.0,NaN
4,7475332,2023-08-26 10:05:48,848,3915,835.38,Swipe Transaction,13051,Polokwane,Limpopo,700.0,5813.0,NaN